"$schema" = 'https://starship.rs/config-schema.json'

palette = "catppuccin_mocha"
format = """\
$cmd_duration\
$status\
[$os$username$hostname $shell $shlvl$jobs](bg:rosewater fg:base)\
[](bg:sapphire fg:prev_bg)\
$directory\
$direnv\
[](bg:surface0 fg:prev_bg)\
$git_branch\
$git_commit\
$git_status\
[](bg:base fg:prev_bg)\
$nodejs\
$bun\
$rust\
$golang\
$conda\
$python\
$rlang\
$lua\
$java\
$c\
$cpp\
$julia\
$cmake\
[](bg:crust fg:prev_bg)\
$battery$time\
$line_break$character"""

# Optional elements
[status]
disabled = false
style = "bold bg:peach fg:base"
format = """\
[ $symbol( $status)( $signal_number) \
$common_meaning$signal_name ]\
($style)\
[](bold bg:rosewater fg:prev_bg)\
"""
symbol = ""
not_executable_symbol = ""
not_found_symbol = ""
sigint_symbol = ""
signal_symbol = ""
map_symbol = true

[cmd_duration]
disabled = true
format = "[ 󱙷 $duration]($style)\n"
show_milliseconds = true
min_time = 5_000

# Hostname, username etc.
[os]
format = '[ $symbol ]($style)'
style = "bg:rosewater fg:base"
disabled = false

[username]
show_always = true
style_user = "bg:prev_bg fg:base bold"
style_root = "bg:prev_bg fg:red bold"
format = '[$user]($style)'
aliases = { "" = "Unknown" }

[hostname]
ssh_only = false
ssh_symbol = "󰣀"
style = "bg:prev_bg fg:base"
format = "@[$ssh_symbol$hostname]($style)"

[os.symbols]
Windows = ""
Linux = ""
Ubuntu = ""
Macos = ""
Arch = ""
Android = ""

[shell]
disabled = false
format = "[$indicator]($style)"
style = "bg:prev_bg fg:prev_fg"
bash_indicator = ""
zsh_indicator = ""
powershell_indicator = ""
fish_indicator = "󰈺"
cmd_indicator = ""
tcsh_indicator = ""

[shlvl]
disabled = false
style = "bg:prev_bg fg:prev_fg"
format = '[ $shlvl]($style)'

[jobs]
symbol = "󱂬"
style = "bg:prev_bg fg:prev_fg"
format = '[$symbol $number]($style)'


# Directory
[directory]
truncate_to_repo = false
style = "bg:prev_bg fg:mantle"
repo_root_style = "bg:prev_bg fg:prev_fg bold"
format = "[ $path ]($style)[$read_only]($read_only_style)"
repo_root_format = """\
[ $before_root_path]($before_repo_root_style)\
[$repo_root]($repo_root_style)\
[$path ]($style)\
[$read_only]($read_only_style)\
"""
truncation_length = 6
truncation_symbol = "…/"
home_symbol = "~"
read_only = " "
read_only_style = "bg:prev_bg fg:base"

[direnv]
disabled = false
symbol = ""
format = '[ $symbol $allowed ]($style)'
style = "fg:base bg:prev_bg"
detect_files = [".envrc", ".env"]
allowed_msg = ""
not_allowed_msg = ""
denied_msg = ""

# Git
[git_branch]
symbol = ""
style = "bg:prev_bg fg:prev_fg"
format = '[ $symbol $branch ]($style)'

[git_commit]
tag_symbol = ""
style = "bg:prev_bg fg:prev_fg"
format = '[ $hash$tag ]($style)'

[git_status]
style = "bg:prev_bg fg:prev_fg"
format = '[($all_status$ahead_behind )]($style)'

# Languages and packages
[nodejs]
symbol = ""
style = "bg:prev_bg fg:lavender"
format = '[ $symbol ($version) ]($style)'
 
[conda]
symbol = "󱔎"
style = "bg:prev_bg fg:lavender"
format = '[ $symbol $environment ]($style)'

[bun]
symbol = ""
style = "bg:prev_bg fg:lavender"
format = "[ $symbol ($version) ]($style)"

[rust]
symbol = ""
style = "bg:prev_bg fg:lavender"
format = "[ $symbol ($version) ]($style)"

[golang]
symbol = ""
style = "bg:prev_bg fg:lavender"
format = "[ $symbol ($version) ]($style)"

[php]
symbol = ""
style = "bg:prev_bg fg:lavender"
format = "[ $symbol ($version) ]($style)"

[python]
symbol = " "
style = "bg:prev_bg fg:lavender"
format = '[ ${symbol}${pyenv_prefix}(${version} )(\($virtualenv\) )]($style)'

[rlang]
symbol = ""
style = "bg:prev_bg fg:lavender"
format = "[ $symbol ($version) ]($style)"

[lua]
symbol = ""
style = "bg:prev_bg fg:lavender"
format = "[ $symbol ($version) ]($style)"

[java]
symbol = ""
style = "bg:prev_bg fg:lavender"
format = "[ $symbol ($version) ]($style)"
detect_files = [
  'pom.xml',
  'build.gradle.kts',
  'build.sbt',
  '.java-version',
  'deps.edn',
  'project.clj',
  'build.boot',
  '.sdkmanrc',
  'build.xml',
]

[c]
symbol = ""
style = "bg:prev_bg fg:lavender"
format = "[ $symbol ($version) ]($style)"

[cpp]
symbol = ""
style = "bg:prev_bg fg:lavender"
format = "[ $symbol ($version) ]($style)"

[cmake]
symbol = ""
style = "bg:prev_bg fg:lavender"
format = "[ $symbol ($version) ]($style)"

[julia]
symbol = ""
style = "bg:prev_bg fg:lavender"
format = "[ $symbol ($version) ]($style)"

[character]
format = " $symbol[: ](bold white)"
success_symbol = "[󰣐 ](bold maroon)"
error_symbol = "[󰋔 ](bold #f11d1d)"
vimcmd_symbol = "[󰧑 ](bold mauve)"
vimcmd_replace_one_symbol = "[󰋇 ](bold peach)"
vimcmd_replace_symbol = "[ ](bold peach)"
vimcmd_visual_symbol = "[ ](bold green)"

# Physical world
[battery]
disabled = true
format = '[$symbol $percentage]($style)'
full_symbol = "󰁹"
charging_symbol = "󰂄"
discharging_symbol = "󱟞"
empty_symbol = "󰂎"
unknown_symbol = "󰂑"

[[battery.display]]
threshold = 10
style = "bg:prev_bg fg:red"
discharging_symbol = "󰂎"
charging_symbol = "󰢟"

[[battery.display]]
threshold = 30
style = "bg:prev_bg fg:peach"
discharging_symbol = "󱊡"
charging_symbol = "󱊤"

[[battery.display]]
threshold = 55
style = "bg:prev_bg fg:teal"
discharging_symbol = "󱊢"
charging_symbol = "󱊥"

[time]
disabled = false
time_format = "%R" # Hour:Minute Format
style = "bg:crust fg:teal"
format = '[  $time ]($style)[](fg:crust)'

# https://github.com/catppuccin/starship/blob/main/themes/mocha.toml
[palettes.catppuccin_mocha]
rosewater = "#f5e0dc"
flamingo = "#f2cdcd"
pink = "#f5c2e7"
mauve = "#cba6f7"
red = "#f38ba8"
maroon = "#eba0ac"
peach = "#fab387"
yellow = "#f9e2af"
green = "#a6e3a1"
teal = "#94e2d5"
sky = "#89dceb"
sapphire = "#74c7ec"
blue = "#89b4fa"
lavender = "#b4befe"
text = "#cdd6f4"
subtext1 = "#bac2de"
subtext0 = "#a6adc8"
overlay2 = "#9399b2"
overlay1 = "#7f849c"
overlay0 = "#6c7086"
surface2 = "#585b70"
surface1 = "#45475a"
surface0 = "#313244"
base = "#1e1e2e"
mantle = "#181825"
crust = "#11111b"
